* {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}

body {
    background-image: url(multimedia/fotos/fondo.jpg);
    background-size: 100%;
}

.text-conteiner {
    font-style: italic;
    font-size: 30px;
    color:firebrick;
    text-align: center;
    padding: 1rem;
}

.text {
    display: inline;
    font-style: italic;
    font-size: 25px;
    color: lightyellow;
    padding: 1rem;
    transition: color 1s;
}

.text:hover {
    color:firebrick;
}


.icono-lagashbeer {
    width: 200px;
    transition: all 1.5s;
}
.icono-lagashbeer:hover{
    transform: scale(1.2);
}

.navbar {
    font-style: italic;
    --bs-navbar-hover-color: firebrick;
    --bs-navbar-toggler-border-color: white;
    padding: 1rem;
}

.navbar-nav {
    --bs-nav-link-color: lightyellow;
    overflow: hidden;
    font-size: 30px;
}
.gallery-conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
 
}
.gallery-item{
    transition: all 1.2s;
}
.gallery-item:hover{
    transform: translate(15px, 25px);
}
.gallery-img {
    width: 90%;
    height: 90%;
}
.card{
    transition: all 1.5s;
}
.card:hover{
    transform: scale(1.1);
}

hr {
    margin: 1rem;
    color: black;
    border: black;
    border-top: 5px solid;
}

footer {
    width: 100%;
    padding: 10px 20px;
    margin: 20px 0 0 0;
}

.iconos {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-right: 2rem;
}
.icono-items:hover{
    transform: scale(2);
}

.icono-items {
    width: 30px;
    height: 30px;
    transition: all 2s;
}
.row {
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.barriles{
    display: flex;
    justify-content: space-around;
    padding: 1rem
}
.barril-img1, .barril-img2{
    width: 350px;
    transition: all 1.5s;
}
.barril-img1:hover{
    transform: translate(10px,15px);
}
.barril-img2:hover{
    transform: translate(10px,15px);
}
.text-ventas{
    text-align: center;
    font-size: 22px;
    font-style:oblique;
    color:lightyellow;
    padding: 1rem;
}


.section-nosotros {
    padding: 2rem;
}

.form-conteiner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: #222;
    margin: 40px 200px;
    padding: 1rem;
    border: 15px solid #000;
    outline: 3px solid firebrick;
}

.form {
    min-width: 300px;
    flex: 1;
    text-align: center;
    padding:1rem;
    order: 5;
}

.form-input:focus {
    background: linear-gradient(to bottom, transparent, #111);
    outline: none;
    border-bottom: 3px solid rgb(116, 13, 16);
}

.form-input {
    width: 100%;
    padding: 7px;
    margin: 6px 0;
    border: none;
    border-bottom: 3px solid rgb(170, 17, 27);
    background: transparent;
    color: white;
}

.form textarea {
    min-height: 140px;
    resize: none;
}

.form-img {
    flex: 1;
    display: flex;
    padding: 10px;
    min-width: 300px;
    max-width: 400px;
    order: 2;
}

.form-img div {
    padding: 10px;

}

.img-conteiner {
    margin: auto;

}

.img-conteiner div {
    border-radius: 50%;
    background-color: firebrick;
    text-align: center;
    padding: 40px;
}

.form-img img {
    width: 90%;
    margin: auto;

}

.form input[type="submit"] {
    background-color: firebrick;
    border-bottom: none;
    padding: 12px;
}

.form input[type="submit"]:hover {
    background-color: red;
    border-bottom: none;
    padding: 12px;
}

.form input[type="submit"]:focus {
    background: rgb(170, 17, 22);
}

@media screen and (max-width: 700px) {

    .form-conteiner {
        width: 100%;
        margin: auto;
    }

    .row {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        justify-content: center;
    }
    .gallery-conteiner{
        display: none;
    }
    .barriles{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin:auto;
        gap: 1rem;
    }
}

